<mat-checkbox [formField]="form.rayleighVisible">Visible</mat-checkbox><span></span>
Result set:
<mat-button-toggle-group [formField]="form.resultSet" hideSingleSelectionIndicator>
    <mat-button-toggle [value]="'XZPlane'">XZ</mat-button-toggle>
    <mat-button-toggle [value]="'YZPlane'">YZ</mat-button-toggle>
    <mat-button-toggle [value]="'CutCube'">Cube</mat-button-toggle>
</mat-button-toggle-group>
Aspect:
<mat-button-toggle-group [formField]="form.rayleighAspect" hideSingleSelectionIndicator>
  <mat-button-toggle [value]="ResultAspect.Elongation">Re</mat-button-toggle>
  <mat-button-toggle [value]="ResultAspect.Amplitude">abs</mat-button-toggle>
  <mat-button-toggle [value]="ResultAspect.Phase">arg</mat-button-toggle>
</mat-button-toggle-group>
Phase:
<div style="display:flex; align-items: center">
  @if(animateTimer()) {
    <button type="button" mat-icon-button (click)="stopTimer()" [disabled]="!phaseEnabled()"><mat-icon>stop</mat-icon></button>  
  } @else {
    <button type="button" mat-icon-button (click)="startTimer()" [disabled]="!phaseEnabled()"><mat-icon>play_arrow</mat-icon></button>
  }
  <button type="button" mat-icon-button (click)="resetPhase()" [disabled]="!phaseEnabled()"><mat-icon>replay</mat-icon></button>
  <input min="0" max="6.28" step="0.01" type="range" [value]="phase()" (input)="setPhase($event)" [disabled]="!phaseEnabled()">
</div>
