<form class="config-container">
  <mat-button-toggle-group [formField]="form.type" class="span-all small-button-toggle-group" style="justify-self: end" hideSingleSelectionIndicator>
    <mat-button-toggle value="ura">
      URA
    </mat-button-toggle>
    <mat-button-toggle value="hex">
      Hex
    </mat-button-toggle>
    <mat-button-toggle value="circular">
      Circular
    </mat-button-toggle>
    <mat-button-toggle value="spiral">
      Spiral
    </mat-button-toggle>
  </mat-button-toggle-group>
  @switch (form.type().value()) {
  @case ('ura') {
    <span class="span-all">Element count:</span>
    <mat-form-field>
      <mat-label>x</mat-label>
      <input matInput data-test-id="elementsX" type="number" [formField]="form.elementsX">
    </mat-form-field>
    <mat-form-field>
      <mat-label>y</mat-label>
      <input matInput data-test-id="elementsY" type="number" [formField]="form.elementsY">
    </mat-form-field>
    <span class="span-all">Element distance:</span>
    <mat-form-field>
      <mat-label>x</mat-label>
      <input matInput type="number" data-test-id="pitchX" [formField]="form.pitchX" step="0.01">
      <span matSuffix style="margin-right: 1ex">mm</span>
    </mat-form-field>
    <mat-form-field>
      <mat-label>y</mat-label>
      <input matInput type="number" data-test-id="pitchY" [formField]="form.pitchY" step="0.01">
      <span matSuffix style="margin-right: 1ex">mm</span>
    </mat-form-field>
  }
  @case ('hex') {
    <mat-form-field>
      <mat-label>Elements</mat-label>
      <input matInput type="number" [formField]="form.elements">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Pitch</mat-label>
      <input matInput type="number" [formField]="form.pitch" step="0.01">
      <span matSuffix style="margin-right: 1ex">mm</span>
    </mat-form-field>
    <mat-checkbox [formField]="form.omitCenter" class="span-all">Omit center</mat-checkbox>
  }
  @default {
    <mat-form-field>
      <mat-label>Count</mat-label>
      <input matInput data-test-id="elementCount" type="number" [formField]="form.elementCount">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Diameter</mat-label>
      <input matInput type="number" data-test-id="diameter" [formField]="form.diameter" step="0.01">
      <span matSuffix style="margin-right: 1ex">m</span>
    </mat-form-field>
    @if(form.type().value() === 'spiral') {
    <mat-checkbox class="span-all" [formField]="form.startWithZero">Start with element 0</mat-checkbox>
    }
  }
}
</form>