name: Build

on:
    push:
        branches:
            - master
    pull_request:

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - uses: actions/setup-node@v4
              with:
                  node-version: "latest"

            # Install dependencies
            - run: npm ci

            # Build and output bundle stats to webpack-stats.json
            - run: npx ng build --stats-json

            # Send bundle stats and build information to RelativeCI
            - name: Send bundle stats to RelativeCI
              uses: relative-ci/agent-action@v3
              with:
                  webpackStatsFile: ./dist/phased/stats.json
                  key: ${{ secrets.RELATIVE_CI_KEY }}
