<mat-button-toggle-group hideSingleSelectionIndicator [formField]="environmentForm.environmentHint">
  <mat-button-toggle value="Air"> Air </mat-button-toggle>
  <mat-button-toggle value="Water"> Water </mat-button-toggle>
  <mat-button-toggle value="Custom"> Custom </mat-button-toggle>
</mat-button-toggle-group>
<mat-form-field>
  <mat-label>Speed of sound</mat-label>
  <input matInput type="number" [formField]="environmentForm.speedOfSound" step="1" />
  <span matSuffix style="margin-right: 1ex">m/s</span>
</mat-form-field>
